<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <title>Willamette University Campus Navigation System</title>
</head>
<body>
    <h1>Willamette University Campus Navigation System</h1>
</body>
</html>
<body>
    <form method = "post" action="/" id="test_form">
        <input type="hidden" name="name" value="name">

        <label for="starting_loc">Starting Location: </label>
        <input name="starting_loc" id="starting_loc" class="narrow-text"><br>
        <label for="ending_loc">Ending Location: </label>
        <input name="ending_loc" id="ending_loc" class="narrow-text"><br>

        <input type="submit" name="location_submit" form="location_form" value="Add">
    </form>
</body>
</html>